* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

/* MAIN CONTAINER*/

.container {
  height: 100vh;
  position: relative;
}

/* TITLE BAR */

.title_bar {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #107c41;
  color: white;
}

/* MENU BAR */

.menu_bar {
  height: 5vh;
  background-color: #107c41;
  display: flex;
}
.menu_item {
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.menu_item.selected {
  color: #107c41;
  background-color: #fff;
}
.menu_item:hover {
  background-color: #105c41;
  cursor: pointer;
}
.menu_item.selected:hover {
  background-color: #fff;
  color: #107c41;
}

/*MENU BAR ICONS */
.menu_icon_bar {
  background-color: rgb(240, 235, 235);
  height: 6vh;
  display: flex;
  align-items: center;
}

.menu-icon {
  padding-left: 10px;
  padding-right: 10px;
  display: flex !important;
  align-items: center;
  height: 100%;
}

.menu-icon:hover {
  background-color: lightgray;
  cursor: pointer;
}

.selector {
  height: 30px;
  font-size: 18px;
  width: 150px;
}

.menu-icon.selected {
  background-color: lightgray;
}
.icon-color-fill,
.icon-color-text {
  position: relative;
}
.color-picker {
  width: 30px;
  height: 15px;
  border: none;
  outline: none;
  position: absolute;
  top: 25px;
  padding: 0;
  left: 5px;
  cursor: pointer;
  background-color: rgb(240, 235, 235);
}
.color-picker:hover {
  background-color: lightgray;
}

.font_family_selector {
  font-family: "Noto Sans";
}

/* FORMULA BAR */

.formula_bar {
  height: 6vh;
  display: flex;
  align-items: center;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  background-color: rgb(240, 235, 235);
}
.formula_editor {
  height: 70%;
  border: 1px solid lightgray;
  background-color: white;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  display: flex;
  align-items: center;
}
.selected_cell {
  width: 120px;
  padding-left: 50px;
}
.formula_sign {
  width: 40px;
}
.formula_input {
  width: calc(100vw - 160px);
  outline-color: #107c41;
}

/* DATA CONTAINER FOR THE CELLS */

.data_container {
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
}
.select_all {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
}

/*Row name */
.row_name_container {
  width: 30px;
  height: calc(74vh - 30px);
  border: 1px solid lightgray;
  overflow: hidden;
}

.row_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-bottom: 1px solid lightgray;
}

/*Coulumn Name*/

.column_name_container {
  height: 30px;
  width: calc(100vw - 30px);
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.column_name {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
  font-weight: "bold";
  height: 100%;
}

/*Input Container*/

.input_container {
  width: calc(100vw - 30px);
  height: calc(74vh - 30px);
  border: 1px solid lightgray;
  overflow: scroll;
}
.cell_row {
  display: flex;
}
.input_cell {
  min-width: 100px;
  min-height: 25px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  font-family: "Noto Sans";
}

.input_cell.selected {
  border: 2px solid #107c41;
}

/* Multiple Cell selected CSS
      ---------------------*/
.input_cell.top_cell_selected {
  border-top: none;
}
.input_cell.bottom_cell_selected {
  border-bottom: 1px solid lightgray;
}
.input_cell.left_cell_selected {
  border-left: none;
}
.input_cell.right_cell_selected {
  border-right: 1px solid lightgray;
}

/* SHEET BAR CSS */
.sheet_bar {
  height: 4vh;
  display: flex;
  align-items: center;
}

.scroller {
  width: 70px;
}
.icon-left-scroll,
.icon-right-scroll {
  font-size: 30px;
}
.icon-left-scroll:hover,
.icon-right-scroll:hover {
  cursor: pointer;
  background-color: lightgray;
}
.icon-add {
  color: green;
  width: 40px;
}
.icon-add:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.sheet_tab_container {
  border: 1px solid lightgray;
  width: calc(100vw - 110px);
  display: flex;
  align-items: center;
  height: 100%;
}
.sheet_tab {
  padding-right: 10px;
  margin-left: 8px;
  padding-left: 10px;
  width: 80px;
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 100%;
}
.sheet_tab.selected {
  border-bottom: 3px solid #107c41;
}
.sheet_tab.selected:hover {
  cursor: default;
  background-color: #fff;
}
.sheet_tab:hover {
  cursor: pointer;
  background-color: lightgray;
}
/* SHeet option MOdal */
.sheet_option_modal {
  position: absolute;
  bottom: 4vh;
  background-color: white;
  height: 60px;
  width: 60px;
  left: 50px;
  border: 1px dotted black;
}
.sheet_rename,
.sheet_delete {
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sheet_rename:hover,
.sheet_delete:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* Sheet Rename Modal */

.sheet_rename_modal {
  position: absolute;
  height: 160px;
  top: calc(100vh / 2 - 80px);
  left: calc(100vw / 2 - 150px);
  width: 300px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 1px 2px #107c41;
  border-radius: 5px;
}
.action_buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}
.rename_modal_title {
  font-weight: 100;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.rename_button {
  background-color: green;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.cancel_button {
  background-color: white;
  border: 1px solid red;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.rename_button:hover {
  background-color: lightgray;
  color: black;
}
.cancel_button:hover {
  background-color: red;
  color: white;
}

.new_sheet_name {
  border: 1px solid #107c41;
  height: 30px;
  padding: 5px;
}
